* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #b2a3b5;
  --secondary: #91818a;
  --base: #c3baaa;
  --text: #f2f2f2;
}

#root,
body {
  background-color: var(--base);
}

.container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.credits {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
