.container {
  background-color: none;
  width: 60%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.todoContainer {
  position: relative;
  background-color: var(--primary);
  color: #222222;
  border-radius: 15px;

  height: 25svh;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.remove {
  position: absolute;
  top: 10%;
  right: 10%;
}
